.form-container {
    .form-title {
        display: block;
        text-align: left;
    }

    .form-button {
        display: block;

        button {
            background-color: #2c3e50;
        }
    }
    
}